<div class="">

	<div class="order-add form-inline" style="float: left;">
		<form novalidate class="simple-form" ng-submit="addOrder(order)">
			<div class="form-group">
				<label for="ticker">Ticker:</label>
				<input type="text" class="form-control" id="ticker" placeholder="Order ticker" ng-model="order.ticker">
			</div>
			<div class="form-group">
				<label for="amount">&nbsp;Amount:</label>
				<input type="text" class="form-control" id="amount" placeholder="Order amount" ng-model="order.amount">
			</div>
			<div class="form-group">
				<label for="price">&nbsp;Price:</label>
				<input type="text" class="form-control" id="price" placeholder="Order price per one item" ng-model="order.price">
			</div>
			<button type="submit" class="btn btn-default">Add</button>
		</form>
	</div>
	<div style="float: right;position: relative; top: 8px;">
		<strong>Realized profit/loss: {{sum | currency:"$"}}</strong>
	</div>
	<div style="clear: both;"></div>
	<br />
	<br />

	<div ng-include='"./views/_orderList.html"'></div>
</div>
